.note-form-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-title-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-title {
  font-size: 20px;
  font-weight: bolder;
}

#note-errors {
  justify-content: flex-start;
  height: 40px;
  margin: 0px;
}

.form-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.note-form-input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 235px;
  height: 40px;
  box-sizing: border-box;
  border: rgba(128, 128, 128, 0.5) .5px solid;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  color: black;
  font-family: 'Soleil', sans-serif;
  cursor: pointer;
}

.note-form-text {
  margin-bottom: 10px;
  padding: 10px;
  width: 235px;
  height: 200px;
  box-sizing: border-box;
  border: rgba(128, 128, 128, 0.5) .5px solid;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  color: black;
  font-family: 'Soleil', sans-serif;
  cursor: pointer;
}

.note-form-select {
  margin-bottom: 10px;
  padding: 10px;
  width: 235px;
  height: 40px;
  box-sizing: border-box;
  border: rgba(128, 128, 128, 0.5) .5px solid;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  color: black;
  font-family: 'Soleil', sans-serif;
  cursor: pointer;
}

#create-form {
  width: 300px;
}

.form-buttons-div {
  text-align: right;
  margin-top: 20px;
}

#create-buttons {
  margin-top: 5px;
}

.form-button {
  background-color: #00a82b;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 gray;
  padding: 10px;
  max-width: 80px;
  min-width: 80px;
  font-size: 14px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.create {
  box-shadow: 0 0 5px 0 black;
}

.form-button:hover {
  background-color: #04d237;
  transition: all .2s;
}

#cancel-button:hover {
  background-color: gray;
  transition: all .2s;
}

.delete-modal-div {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
