.noteDetailBackground {
  width: 45vw;
  height: 80vh;
  margin-bottom: 20px;
  margin-left: 20px;
  background-image: linear-gradient(to bottom right, rgb(250, 250, 136), darkgoldenrod);
  border-radius: 4px;
}

.note-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 71vh;
  padding: 25px;
}

.note-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.fa-book-open {
  margin-right: 7px
}

.note-title {
  font-size: 30px;
  align-items: center;
}

.fa-bars {
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.fa-bars:hover {
  color: white;
  transition: color .2s;
}

.note-buttons-dropdown {
  position: fixed;
  margin-left: 35vw;
  margin-top: 30px;
  text-align: right;
  background-color: rgba(240, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  padding: 10px
}

.note-buttons-dropdown {
  list-style: none;
}

.content {
  margin-top: 20px;
  text-align: left;
}

.bottomNoteDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.nb-title-div {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.nb-title-div:hover {
  background-color: rgb(26, 26, 26, .2);
  color: white
}

.note-timestamp {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px;
}

.fa-history {
  font-size: 15px;
  font-weight: bolder;
}

.note-date {
  margin-left: 5px;
}

.note-time {
  margin-left: 12px;
}

.select-note-message {
  max-width: 200px;
  min-width: 200px;
  height: 200px;
  margin: 0px 20px;
  padding: 0px 20px 20px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(250, 250, 136), darkgoldenrod);
  border-radius: 3px;
  box-shadow: 0 0 5px 0px gray;
}

.fa-map-pin {
  transform: rotate(30deg);
  position: absolute;
  right: 115px;
  top: 3px;
  font-size: 35px;
  text-shadow: 2px 1px 3px rgb(0, 0, 0, .7);
}

.select-note-text {
  margin: 30px 0px;
  padding: 10px
}

.select-button-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  font-size: 19px;
}

#add-note-note {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a82b;
  color: white;
  min-height: 30px;
  max-height: 30px;
  min-width: 30px;
  max-width: 30px;
  border-radius: 25px;
  margin: 0px 10px;
  transition: box-shadow 0.3s;
}
