main {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  /* overflow-y: auto; */
}

.noteList {
  margin-left: 10px;
  max-width: 12rem;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #00a82a31;
  border-radius: 3px;
}


.note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 3rem;
  padding: .75em;
  overflow:hidden;
  border-bottom: 1px solid lightgray;
  border-right: 10px solid transparent;
}

.note:hover {
  background-color: #00a82a2f;
}

.selected {
  background-color: lightgray;
  border-right: 10px solid #00a82b;
}

.primary-text {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.secondary-text {
  font-size: 0.8em;
  color: gray;
}


.noteDetailBackground {
  background-image: url('http://assets.stickpng.com/thumbs/5b06c181fad1cae04539afdd.png');
  width: 400px;
  height: 400px;
  object-fit: fill;
  margin-left: 100px;
}
