.fab-button {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #00a82b;
  position: absolute;
  top: 1rem;
  left: 15rem;
  height: 50px;
  width: 50px;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
}

.fab-button.hidden {
  transform: scale(0);
}

.fab-button:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
  height: 58px;
  width: 58px;
}

.fab-button span {
  transition: transform 0.5s;
}
