@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');

.homeDiv {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homePic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.errors {
  position: relative;
  top: 6.5rem;
  left: 19rem;
  font-family:'Source Serif Pro', serif;
  font-size: 42px;
  height: 1rem;
}
.errors2 {
  position: relative;
  top: 9.5rem;
  left: 14rem;
  font-family:'Source Serif Pro', serif;
  font-size: 35px;
  height: 5rem;
  width: 3rem;
}
