@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');

#root {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: 'Soleil', sans-serif;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: 0px 15px 10px 0px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Source Serif Pro', serif;
  font-size: 2rem;
  font-weight: bold;
}
