main {
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.notebookList {
  margin-left: 10px;
  width: 13rem;
  overflow-y: auto;
}

.notebookInfo {
  display: flex;
  flex-direction: row;
}

.notebook {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 6rem;
  padding: .75em;
  overflow:hidden;
  border-bottom: 1px solid lightgray;
  border-right: 10px solid transparent;
}

.notebook:hover {
  background-color: #00a82a2f;
}

.selected {
  background-color: lightgray;
  border-right: 10px solid #00a82b;
}

.notebookImage {
  position: relative;
  left: 4rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;;
  background-image: url("https://products.mpowerpromo.com/PL/NB108/NB108Translucent_Purple//4196486/id4196486c3626311hFVyA5-VKapE0mrIwbGHug6UKcjJhR3kljvl_dRsI9QUpsuso.jpg");
  background-size: contain;
}

/* ::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #00a82a31;
  border-radius: 3px;
} */

/*
.primary-text {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.secondary-text {
  font-size: 0.8em;
  color: gray;
}


.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 20px;
}
.content {
  margin-top: 80px;
  margin-left: 120px;
  width: 24rem;
}
.timestamp {
  position: static;
  bottom: 1rem;
  width: auto;
  text-align: right;
  font-weight: 500;
  font-style: italic;
}

.bottomNoteDetails {
  position: sticky;
  margin-left: 9rem;
  margin-top: 40px;
  bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editButton {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 75px;
  background-color: green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
  margin-right: 1rem;
}
.editButton:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
  height: 58px;
  width: 83px;
}
.deleteButton {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 75px;
  background-color: purple;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
  margin-right: 1rem;
}
.deleteButton:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
  height: 58px;
  width: 83px;
}


@media screen and (max-width: 700px) {
  main {
    position: absolute;
    top: 10rem;
  }
}

@media screen and (max-width: 430px) {
  main {
    position: absolute;
    top: 12rem;
  }
} */



.noteDetailBackground {
  width: 640px;
  height: 640px;
  margin-left: 100px;
  background-image: url("../../../public/stickyNote.png");
  object-fit: contain;
}
