.main-nb-div {
  display: flex;
  flex-direction: row;
  height: 88vh;
  background: linear-gradient(white 5%, #1A1A1A 100%);
}

.notebookList {
  padding-left: 5px;
  min-width: 210px;
  overflow-y: auto;
}

.notebook {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 100%; */
  height: 60px;
  padding: 10px;
  overflow: hidden;
  border: 7px solid transparent;
  border-bottom-color: rgba(128, 128, 128, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.notebook:hover {
  border-color: rgb(0, 120, 43);
  transition: border .2s;
}

.nb-selected {
  background-color: rgb(255, 255, 255, .6);
  border-color: rgb(0, 120, 43);
}

.nb-selected>.nb-primary-text {
  color: black
}

.nb-selected *.nb-secondary-text {
  color: black;
}

.fa-book {
  margin-right: 10px
}

.nb-primary-text {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.nb-secondary-text {
  font-size: 0.8em;
  color: lightgray;
  margin-top: 10px;
  padding: 3px;
  border-radius: 3px;
}


.nb-buttons-div {
  display: flex;
  flex-direction: column;
}

.nb-buttons {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1190px) {
  .notebookList {
    width: 10vw;
  }
}

@media screen and (max-width: 915px) {
  .main-nb-div {
    flex-direction: column;
    align-items: center;
    height: 76%;
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .notebookList {
    height: 90px;
    width: 98%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: 0px 5px 10px 5px;
    background-color: rgb(26, 26, 26, .4);
  }

  .notebook {
    font-size: smaller;
    min-width: 12rem;
    max-height: 40px;
    min-height: 40px;
    border-radius: 3px;
    margin-right: 5px;
  }

  .nb-primary-text {
    font-size: smaller;
  }

  .nb-secondary-text {
    margin-top: 0px;
  }

  #nb-form-div.note-form-div {
    margin: 0px;
    padding: 30px;
  }

  .nb-buttons>.fab-button {
    margin: 0px;
  }
}

@media screen and (max-width: 599px) {
  .main-nb-div {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
