body {
  font-family: Arial, Helvetica, sans-serif;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60vw;
}

input {
  margin: 10px 0px 0px 10px;
}

.submitButton {
  margin: 20px 0px 30px 10px;
}
