.dev-dropdown {
  position: fixed;
  right: 2rem;
  margin-top: 5px;
  z-index: 2;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  padding: 10px;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.devLi {
  font-size: 17px;
  font-weight: normal;
  color: black;
  padding: 0px 5px;
  margin: 7px 0px
}

.devLi>a {
  color: black;
  /* text-shadow: 1px 1px 1px lightgrey; */
}

.devLi>a>span {
  color: black;
}

.devLi:hover a {
  color: #00a82b;
  text-shadow: 1px 1px .25px black;
  transition: all .1s;
}

.devLi:hover a>span {
  color: #00a82b;
  transition: all .05s;
}
