.navLinks {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.signup {
  background-color: white;
  margin: 0px 10px 0px 30px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}
.signup:hover {
  background-color: #00a82b;
}
