.navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  margin: 0px 40px;
  padding: 0px;
}

a:link {
  text-decoration: none;
}

.home {
  color: black;
}

.navbar {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}

.signup {
  background-color: #00a82b;
  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  max-width: 70px;
  min-width: 70px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
}

.signup:hover {
  background-color: #04d237;
  transition: all .2s;
}

.notes {
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-left: 20px;
  height: 32.67px;
  display: flex;
  align-items: flex-end;
}

.notes:hover {
  color: #00a82b;
  cursor: pointer;
  transition: all .2s;
}


@media screen and (max-width: 915px) {
  a.bar {
    justify-content: center;
  }

  .navLinks {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: auto;
    margin-bottom: 20px;
  }

  .navbar {
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-width: 590px;
  }

  .profileButton,
  .searchButton {
    margin: 0px
  }
}

@media screen and (max-width: 599px) {
  .navLinks {
    margin: 0px 1rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 350px;
    max-width: 280px;
  }

  .homePic {
    width: 100vw;
  }
}
