.profileButton {
  font-size: 20px;
  width: 50px;
  background-color: #00a82b;
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.profileButtonOpen {
  font-size: 20px;
  width: 50px;
  background-color: rgb(89, 88, 88);
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.profileButton:hover {
  background-color: #04d237;
  transition: all .2s;
}


.profile-dropdown {
  position: fixed;
  margin-top: 5px;
  align-self: center;
  text-align: right;
  color: #00a82b;
  font-size: 15px;
  list-style-type: none;
  z-index: 2;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
  padding: 10px
}

.username {
  font-size: 20px;
  font-weight: bolder;
}

.user-email {
  color: black;
}

.logoutButton {
  background-color: #00a82b;
  color: white;
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #04d237;
  color: black;
  transition: all .2s;
}
