.searchButton {
  font-size: 20px;
  width: 50px;
  background-color: #00a82b;
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.searchButtonOpen {
  font-size: 20px;
  width: 50px;
  background-color: rgb(89, 88, 88);
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.searchButton:hover {
  transition: all .2s;
  background-color: #04d237;
}


.search-dropdown {
  font-size: 15px;
  position: fixed;
  padding: 0px 0px 0px 43px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  text-align: right;
  color: #00a82b;
  list-style-type: none;
}

.searchingButton {
  font-size: 20px;
  width: auto;
  height: 32.67px;
  background-color: #00a82b;
  color: white;
  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

.searchingButton:hover {
  transition: all .2s;
  background-color: #04d237;
}

.searchInput {
  height: 32.67px;
  font-size: 17px;
  padding: 5px;
  margin: 0px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px darkgray;
}

@media screen and (max-width: 915px) {
  .search-dropdown {
    position: fixed;
    top: 8.5rem;
    right: 0;
    margin: 0px;
    padding: 0px 31.5vw;
    justify-content: center;
  }
}

@media screen and (max-width: 599px) {
  .search-dropdown {
    position: fixed;
    top: 10.5rem;
    align-self: center;
    margin-right: 20vw;
    margin-left: 10vw;
    padding: 0px;
    justify-content: center;
  }
}
