.searchButton {
  font-size: 20px;
  width: 50px;
  background-color: #00a82b;
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.searchButtonOpen {
  font-size: 20px;
  width: 50px;
  background-color: rgb(89, 88, 88);
  color: white;
  margin: 0px 0px 0px 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #04d237;
  transition: all .2s;
}

.search-dropdown {
  position: fixed;
  right: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  text-align: right;
  font-size: 15px;
  color: #00a82b;
  list-style-type: none;
}

.searchingButton {
  font-size: 20px;
  width: auto;
  height: 32.67px;
  background-color: #00a82b;
  color: white;
  margin: 0px 0px 0px 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

.searchingButton:hover {
  background-color: #04d237;
  transition: all .2s;
}

.searchInput {
  height: 32.67px;
  font-size: 17px;
  padding: 5px;
  margin: 0px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px darkgray;
}

@media screen and (max-width: 915px) {
  .search-dropdown {
    right: 160px;
  }
}

@media screen and (max-width: 599px) {
  .search-dropdown {
    right: 20vw;
  }
}

@media screen and (max-width: 523px) {
  .search-dropdown {
    right: 19vw;
  }
}

@media screen and (max-width: 512px) {
  .search-dropdown {
    right: 18vw;
  }
}

@media screen and (max-width: 495px) {
  .search-dropdown {
    right: 17vw;
  }
}

@media screen and (max-width: 480px) {
  .search-dropdown {
    right: 16vw;
  }
}

@media screen and (max-width: 460px) {
  .search-dropdown {
    right: 15vw;
  }
}

@media screen and (max-width: 440px) {
  .search-dropdown {
    right: 14vw;
  }
}

@media screen and (max-width: 420px) {
  .search-dropdown {
    right: 12.5vw;
  }
}

@media screen and (max-width: 410px) {
  .search-dropdown {
    right: 30px;
  }
}

@media screen and (max-width: 380px) {
  .search-dropdown {
    position: fixed;
    right: 15px;
  }
}
