.datepicker-div {
  background-color: aquamarine;
  height: auto;
  padding: 20px;
  margin-right: 100px;
}

.datePicker {
  height: 40px;
  min-width: 130px;
  font-size: 20px;
  text-align: center;
  border: black 3px solid;
  border-radius: 4px;
}

.submit-reminder-button {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 gray;
  height: 40px;
  padding: 10px;
  margin: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  min-width: 130px;
}
