.main-reminder-div {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.reminderList {
  background-color: rgb(26, 26, 26, .2);
  box-shadow: 0 0 5px 0 #808080;
  border-radius: 5px;
  margin: 0px 20px 0px 40px;
  padding: 10px;
  width: 100%;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.reminder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 260px;
  font-size: 20px;
  padding: 15px 10px;
  margin: 2px;
  background-color: rgb(255, 255, 255, .15);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 black;
}

.overdue-reminder {
  color: darkred;

}

.reminder-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reminder-date {
  display: flex;
}

.on-sign {
  margin: 0px 7px;
}

.reminder-title {
  font-size: 16px;
  padding: 5px 0px;
}
