#rem-delete-button {
  margin-left: 20px
}

#rem-delete-button:hover {
  background-color: darkred;
  transition: all .2s;
}

#reminder-errors {
  height: 25px;
  margin: 5px
}


.reminder-fab-div {
  margin-left: 20px;
}

@media screen and (max-width: 838px) {
  .reminder-fab-div {
    margin: 0px;
  }
}
