.main-reminder-div {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
}


.reminderList {
  box-shadow: 0 0 5px 0 #808080;
  margin: 0px 40px;
  padding: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.reminder {
  text-align: left;
}


.rem-selected {
  background-color: #1A1A1ACC;
}
