.loginForm {
  display: flex;
  flex-direction: column;
  width: auto;
  text-align: center;
  font-weight: bold;
}

.auth-title {
  text-align: center;
  font-size: 30px;
  margin: 0px
}

.signup-title {
  text-align: center;
  font-size: 28px;
  margin: 0px;
}

.line {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.auth-form-input {
  margin: 0px;
  padding: 5px;
  height: 45px;
  width: 314px;
  box-sizing: border-box;
  border: rgba(128, 128, 128, 0.7) .5px solid;
  border-radius: 5px;
  color: black;
  font-family: 'Soleil', sans-serif;
  cursor: pointer;
}

.loginButton {
  background-color: #00a82b;
  color: white;
  width: 314px;
  height: 56px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.loginButton:hover {
  transition: all .2s;
  background-color: #04d237;
  transition: all .2s;
}


.nav {
  background-color: #00a82b;
  margin: 0px 10px 0px 30px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.nav:hover {
  background-color: lightgray;
  transition: all .2s;
}


.errorsAuth {
  height: 40px;
  margin: 10px 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 13px;
  color: #CC4539;
}
