body {
  font-family: Arial, Helvetica, sans-serif;
}

.loginModal {
  border-radius: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding-right: 10rem;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  font-weight: bolder;
}

.line {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  margin: 10px 0px 0px 10px;
  height: 25px;
  border-radius: 10px;
}

.nav {
  background-color: white;
  margin: 0px 10px 0px 80px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}
.nav:hover {
  background-color: #00a82b;
}
