body {
  font-family: Arial, Helvetica, sans-serif;
}

.loginModal {
  border-radius: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem;
  padding-right: 10rem;
  width: 50vw;
}

.title {
  text-align: center;
  font-weight: bolder;
}

input {
  margin: 10px 0px 0px 10px;
  height: 25px;
  border-radius: 10px;
}

button {
  background-color: white;
  margin: 0px 0px 20px 90px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
}
button:hover {
  background-color: #00a82b;
}
